.leftMenuChild {
  width: 340px;
  height: 1080px;
  position: relative;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logoIcon {
  width: 216px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.navigationIcons {
  width: 12px;
  height: 9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.navigationIconsChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.navigationIconsItem {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0px;
  height: 1px;
  object-fit: contain;
}
.navigationIcons1 {
  width: 12px;
  height: 9px;
  position: relative;
  z-index: 1;
}
.navigationItems {
  position: absolute;
  top: 77px;
  left: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl-3);
}
.dashboard {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.events {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.logistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.inventory {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.deliveries {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.liveTrackingMap {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.liveTrackingMapParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-mid);
  gap: var(--gap-mini);
}
.reports {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.users {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.reportsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-base);
  gap: var(--gap-16xl-9);
}
.settings {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.deliveriesParent {
  align-self: stretch;
  height: 354.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.menuOptions {
  position: absolute;
  top: 2px;
  left: 46px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.layer1Icon {
  width: 31px;
  height: 31px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.layersChild {
  width: 31px;
  height: 30px;
  position: relative;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.layer1 {
  position: absolute;
  top: 0.5px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 2;
}
.frameParent {
  width: 31px;
  height: 32.9px;
  position: relative;
}
.layersItem {
  width: 31px;
  height: 31px;
  position: relative;
  z-index: 1;
}
.layers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl-9);
}
.frameItem {
  width: 31px;
  height: 30.9px;
  position: relative;
  z-index: 1;
}
.vectorIcon {
  width: 31px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.layer1Icon2 {
  width: 31px;
  height: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.layersParent {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 620.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 325.5px;
  box-sizing: border-box;
  gap: 167.6px;
}
.navigation {
  align-self: stretch;
  height: 620.9px;
  position: relative;
}
.leftMenu {
  width: 340px;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) var(--padding-15xl) 308.1px var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.dashboardDelivery {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  white-space: pre-wrap;
}
.dashboardTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.userImageIcon {
  width: 30px;
  height: 29.9px;
  position: relative;
}
.userIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 15.2px;
}
.userChild {
  height: 61px;
  width: 224px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  display: none;
}
.imagePlaceholderIcon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-481xl);
  object-fit: cover;
  z-index: 1;
}
.sherwynGraham {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.userName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0px 0px;
}
.user {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.userIconParent {
  width: 289px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
}
.dashboardHeader {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.addProofOf {
  margin: 0;
  width: 761px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.formChild {
  width: 1480px;
  height: 1060px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.deliverySelection {
  width: 675px;
  height: 60px;
  font-family: var(--font-poppins);
  font-size: var(--font-size-lg);
  max-width: 100%;
  z-index: 1;
}
.recipientName {
  border: none;
  background-color: transparent;
  flex: 1;
  font-family: var(--font-poppins);
  font-size: var(--font-size-lg);
  min-width: 439px;
  max-width: 100%;
  z-index: 1;
}
.recipientNameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.deliverySelectionParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.digitalSignature {
  width: 331px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameInner {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.quantityAvailable {
  border: 1px solid var(--color-darkgray);
  background-color: var(--color-white);
  height: 130px;
  width: auto;
  outline: none;
  flex: 1;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-11xl);
  font-family: var(--font-poppins);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  min-width: 286px;
  max-width: 100%;
  z-index: 1;
}
.imageInputChild {
  height: 45px;
  width: 45px;
  position: relative;
  z-index: 1;
}
.addImage1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  z-index: 1;
}
.addImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
}
.imageInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.imageInputWrapper {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-23xl) 0px 0px;
  box-sizing: border-box;
}
.quantityAvailableParent {
  width: 664px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.lineParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
}
.digitalSignatureParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.rectangleDiv {
  height: 130px;
  width: 130px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.page1Icon {
  height: 54px;
  width: 54px;
  position: relative;
  z-index: 1;
}
.rectangleParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl-3) var(--padding-19xl) var(--padding-19xl-7);
  z-index: 1;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
}
.addMore {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  display: inline-block;
  min-width: 103px;
  z-index: 1;
}
.addMoreWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
}
.addMoreInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.addMoreInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-23xl) 0px 0px;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.descriptionChild {
  height: 120px;
  width: 1380px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.comments1 {
  color: var(--color-darkslategray-100);
}
.comments {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  display: inline-block;
  min-width: 114px;
  z-index: 1;
}
.description {
  align-self: stretch;
  height: 120px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-9xl) 74px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-tomato-100);
  font-family: var(--font-poppins);
}
.button {
  height: 50px;
  flex: 1;
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-smi);
  box-sizing: border-box;
  z-index: 1;
}
.button1 {
  height: 50px;
  flex: 1;
  box-shadow: 0px 10px 30px rgba(237, 48, 6, 0.2);
  padding: var(--padding-xs) var(--padding-29xl) var(--padding-smi);
  box-sizing: border-box;
  z-index: 1;
}
.buttonParent {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.form {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-31xl) var(--padding-33xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-200);
}
.addProofOfDeliveryParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.content {
  width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.addProofOfDelivery {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 81px;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1800px) {
  .addProofOfDelivery {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .leftMenu {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-181xl);
    box-sizing: border-box;
  }

  .recipientNameParent {
    flex-wrap: wrap;
  }

  .form {
    padding: var(--padding-13xl) var(--padding-6xl) var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .leftMenu {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-111xl);
    box-sizing: border-box;
  }

  .dashboardHeader {
    flex-wrap: wrap;
  }

  .addProofOf {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .recipientName {
    min-width: 100%;
  }

  .quantityAvailableParent {
    flex-wrap: wrap;
  }

  .frameContainer {
    flex-wrap: wrap;
  }

  .form {
    gap: var(--gap-6xl);
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }

  .header {
    gap: var(--gap-lg);
  }

  .addProofOfDelivery {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .dashboard {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .events {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .logistics {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .inventory {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .deliveries {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .liveTrackingMap {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .reports {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .users {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .settings {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .layersParent {
    height: 620.9px;
  }

  .leftMenu {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .userIconParent {
    gap: var(--gap-mid);
  }

  .addProofOf {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }

  .digitalSignature {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }

  .addImage1 {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-2xl);
  }

  .addMore {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-2xl);
  }
}
