.frameChild {
  width: 360px;
  height: 180px;
  position: relative;
  box-shadow: 5px 20px 50px rgba(255, 111, 60, 0.15);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.grosOeuvres {
  height: 63px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.eventsManagedThis {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 140%;
  color: var(--color-darkslategray-100);
  z-index: 1;
}
.rectangleParent {
  flex: 1;
  box-shadow: 5px 20px 50px rgba(255, 111, 60, 0.15);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-xl) var(--padding-16xl)
    var(--padding-21xl);
  gap: var(--gap-sm);
  min-width: 270px;
  max-width: 100%;
  color: var(--color-tomato-100);
}
.frameItem {
  width: 360px;
  height: 180px;
  position: relative;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.rectangleGroup {
  flex: 1;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-xl) var(--padding-18xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 270px;
  max-width: 100%;
}
.checkbox {
  height: 63px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 125px;
  z-index: 1;
}
.metrics {
  width: 1160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.firstRowParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.upcomingEvents {
  margin: 0;
  width: 331px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.taskCardsChild {
  align-self: stretch;
  width: 430px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.taskName {
  width: 142px;
  height: 22px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 200%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.assignee {
  margin: 0;
}
.robertSteve {
  margin: 0;
  color: var(--color-darkslategray-100);
}
.assigneeRobertSteveContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.taskStatusIcon {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  z-index: 1;
}
.taskStatusIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0px 0px;
}
.inprogress {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 200%;
  z-index: 1;
}
.taskStatus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.assigneeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 133px;
}
.ddMmYyyy {
  margin: 0;
  color: var(--color-darkslategray-100);
}
.dueDateDdMmYyyyContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 180%;
  z-index: 1;
}
.placeholder {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 200%;
  font-weight: 600;
  display: inline-block;
  min-width: 39px;
  z-index: 1;
}
.dueDateValue {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-tomato-100);
}
.dueDateDdMmYyyyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 121px;
  text-align: right;
}
.assigneeInfoParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--body-small-size);
  color: var(--color-darkgray);
}
.taskDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.maskGroupIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.taskCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) var(--padding-15xl) 136px var(--padding-16xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.taskCards {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.taskAssignmentsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.eventCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  min-width: 430px;
  max-width: 100%;
}
.itemTopRow {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-12xs);
  gap: var(--gap-6xl);
}
.itemDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.inventoryCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) var(--padding-15xl) var(--padding-82xl)
    var(--padding-16xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.inventoryItems {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.alertCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  min-width: 430px;
  max-width: 100%;
}
.arrowIcon {
  width: 55px;
  height: 55px;
  position: relative;
}
.arrowWrapper {
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px var(--padding-mini) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.activeDeliveries {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.deliveriesTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  min-width: 162px;
}
.tabsChild {
  width: 220px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 45px;
  display: none;
}
.rectangleDiv {
  width: 110px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  height: 35px;
  display: none;
}
.mapView {
  height: 19px;
  width: 77px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.groupDiv {
  height: 35px;
  width: 110px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  z-index: 1;
}
.listView1 {
  width: 65px;
  height: 19px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.listView {
  height: 27px;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  box-sizing: border-box;
  color: var(--color-darkslategray-100);
}
.tabs {
  width: 220px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.deliveriesContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}
.deliveryMapChild {
  height: 340px;
  width: 540px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.maskGroupIcon2 {
  height: 288px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.deliveryMap {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
}
.deliveries {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 351px;
  max-width: 100%;
}
.alertList {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 656px;
  max-width: 100%;
}
.eventsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.eventList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.dashboardContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1800px) {
  .dashboard {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .metrics {
    flex-wrap: wrap;
  }

  .eventCards {
    flex: 1;
  }

  .eventsContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .grosOeuvres {
    font-size: var(--font-size-21xl);
    line-height: 67px;
  }

  .checkbox {
    font-size: var(--font-size-21xl);
    line-height: 67px;
  }

  .metrics {
    gap: var(--gap-xl);
  }

  .upcomingEvents {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .eventCards {
    min-width: 100%;
  }

  .alertCards {
    flex: 1;
    min-width: 100%;
  }

  .frameGroup {
    gap: var(--gap-xl);
  }

  .activeDeliveries {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .deliveriesContent {
    gap: var(--gap-16xl);
  }

  .frameParent {
    gap: var(--gap-xl);
  }

  .alertList {
    gap: var(--gap-xl);
    flex-wrap: wrap;
    min-width: 100%;
  }

  .eventsContainer {
    gap: var(--gap-xl);
  }

  .dashboardContainer {
    gap: var(--gap-6xl);
  }

  .dashboard {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .grosOeuvres {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }

  .eventsManagedThis {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .checkbox {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }

  .upcomingEvents {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }

  .taskName {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }

  .dueDateDdMmYyyyParent {
    flex: 1;
  }

  .assigneeInfoParent {
    gap: var(--gap-mid);
    flex-wrap: wrap;
  }

  .eventCards {
    gap: var(--gap-3xl);
  }

  .alertCards {
    gap: var(--gap-3xl);
  }

  .frameGroup {
    flex-wrap: wrap;
  }

  .activeDeliveries {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }

  .deliveriesContent {
    gap: var(--gap-mid);
    flex-wrap: wrap;
  }

  .frameParent {
    min-width: 100%;
  }
}
