.summaryChild {
  width: 840px;
  height: 367px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.eventSummary {
  margin: 0;
  width: 331px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.link {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.pageIcon {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}
.page1Icon {
  width: 23.3px;
  height: 31px;
  position: relative;
  z-index: 1;
}
.frameChild {
  width: 25px;
  height: 28.3px;
  position: relative;
  z-index: 1;
}
.pageIconParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37.5px;
}
.summaryLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.ddMmYyyy {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.ddMmYyyyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs) 0px 0px;
}
.freeIconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
}
.pm {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xs) 0px 0px;
}
.groupIcon {
  height: 28px;
  width: 28px;
  position: relative;
  z-index: 1;
}
.contactInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px 0px;
}
.frameItem {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.mercerStreetNew {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.address {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-width: 278px;
  max-width: 100%;
}
.groupButton {
  height: 35px;
  width: 220px;
  padding: var(--padding-5xs) var(--padding-7xl);
  box-sizing: border-box;
  z-index: 1;
}
.addressParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-54xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.loremIpsumDolor {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.03em;
  line-height: 160%;
  z-index: 1;
}
.summaryRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 468px;
  max-width: 100%;
}
.summaryContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
}
.summary {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-20xl) var(--padding-21xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.sidebarTop {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.activityFeedChild {
  width: 840px;
  height: 472px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.feedHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  flex-shrink: 0;
}
.completedTaskName {
  color: var(--color-tomato-100);
}
.robertSteveCompletedContainer {
  margin: 0;
  align-self: stretch;
  height: 28px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.loremIpsumDolor1 {
  width: 541px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.pm1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.volkswagenbabpng {
  width: 10px;
  height: 10px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  z-index: 1;
}
.timeCompleted {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.timestampCompleted {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  text-align: right;
}
.itemDescription {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-base);
}
.feedItemCompleted {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-3xl);
}
.accolitecpng {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.activityFeed {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-20xl) 59px var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  max-width: 100%;
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 546px;
  max-width: 100%;
}
.breadcrumbBarParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.eventsDetailsInner {
  width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.eventsDetails {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1800px) {
  .eventsDetails {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .breadcrumbBarParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .frameGroup {
    flex-wrap: wrap;
  }

  .addressParent {
    gap: var(--gap-17xl);
    flex-wrap: wrap;
  }

  .summaryRight {
    min-width: 100%;
  }

  .summaryContent {
    flex-wrap: wrap;
  }

  .itemDescription {
    flex-wrap: wrap;
  }

  .activityFeed {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }

  .sidebar {
    min-width: 100%;
  }

  .breadcrumbBarParent {
    gap: var(--gap-xl);
  }

  .eventsDetails {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .eventSummary {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }

  .ddMmYyyy {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .pm {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .addressParent {
    gap: var(--gap-lg);
  }

  .summary {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }

  .robertSteveCompletedContainer {
    font-size: var(--font-size-lg);
    line-height: 35px;
  }

  .sidebar {
    gap: var(--gap-xl);
  }
}
