.dashboardDelivery {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.deliveryTracking {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-7xs);
  box-sizing: border-box;
  min-width: 760px;
  max-width: 100%;
}
.buttonChild {
  height: 50px;
  width: 160px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.acneIcon {
  width: 24px;
  height: 22px;
  position: relative;
  z-index: 1;
}
.filterIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.filterMap {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.button {
  height: 50px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mid) var(--padding-2xs)
    var(--padding-xl);
  gap: var(--gap-3xs);
}
.buttonItem {
  height: 50px;
  width: 180px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.brandwomenIcon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.buttonIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
}
.refreshMap {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.button1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-lg);
  gap: var(--gap-3xs);
}
.outIcon {
  width: 25.4px;
  height: 20.4px;
  position: relative;
  z-index: 1;
}
.outWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.legends {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.button2 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xl) var(--padding-2xs);
  gap: var(--gap-3xs-6);
}
.mapActions {
  align-self: stretch;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.userDropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 234px;
  max-width: 100%;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  color: var(--color-darkgray);
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.mainPanel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.brandCardSixteen {
  width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.liveTrackingMap {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1800px) {
  .liveTrackingMap {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .titleWrapper {
    flex: 1;
  }

  .actions {
    flex: 1;
  }

  .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .deliveryTracking {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .title {
    gap: var(--gap-8xl);
  }

  .titleWrapper {
    min-width: 100%;
  }

  .actions {
    min-width: 100%;
  }

  .liveTrackingMap {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .deliveryTracking {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }

  .actions {
    flex-wrap: wrap;
  }
}
