.leftMenuChild {
  width: 340px;
  height: 1080px;
  position: relative;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logoIcon {
  width: 216px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.layer1Icon {
  width: 31px;
  height: 31px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  width: 31px;
  height: 30px;
  position: relative;
  z-index: 1;
}
.layer1Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.layer1Child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.layer1 {
  width: 31px;
  height: 33px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameItem {
  width: 31px;
  height: 31px;
  position: relative;
  z-index: 1;
}
.moneyIcon {
  width: 31px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.layer1Icon2 {
  width: 31px;
  height: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.layer1Group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-192xl);
}
.dashboard {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.events {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.logistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.overview {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  color: var(--color-tomato-100);
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.taskAssignment {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.overviewParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-darkslategray-100);
}
.navigationContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-darkslategray-200);
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.frameIcon {
  width: 12px;
  height: 9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.settingsChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.settingsItem {
  position: absolute;
  top: -7px;
  left: 6px;
  width: 0px;
  height: 1px;
  object-fit: contain;
}
.settings {
  width: 12px;
  height: 9px;
  position: relative;
  z-index: 1;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
}
.management {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0px 0px;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.information {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.inventory {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.deliveries {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.reports {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.users {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.settings2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.settingsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-3);
}
.arrowIcon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0px;
  height: 1px;
  object-fit: contain;
}
.settingsInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
}
.settings1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.main {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.content {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.leftMenu {
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) var(--padding-15xl) var(--padding-245xl)
    var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.dashboardLogistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
}
.frameChild3 {
  width: 280px;
  height: 180px;
  position: relative;
  box-shadow: 5px 20px 50px rgba(255, 111, 60, 0.15);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  display: none;
}
.div {
  width: 130px;
  height: 63px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.overDueTasks {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 140%;
  color: var(--color-darkslategray-100);
  z-index: 1;
}
.rectangleContainer {
  align-self: stretch;
  flex: 1;
  box-shadow: 5px 20px 50px rgba(255, 111, 60, 0.15);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-tomato-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-xl) var(--padding-16xl)
    var(--padding-21xl);
  gap: var(--gap-sm);
}
.metrics {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-61xl);
  color: var(--color-tomato-100);
}
.dashboardContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 598px;
  max-width: 100%;
}
.summaryChild {
  height: 180px;
  width: 500px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 1;
}
.tasksByStatus {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  z-index: 1;
}
.statusIcons {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  z-index: 1;
}
.statusIconsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0px 0px;
}
.upcoming {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 128px;
  z-index: 1;
}
.statusElements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.payouts {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  z-index: 1;
}
.statusVisuals {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
}
.taskStatus {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.ellipseDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-lightgray-100);
  width: 14px;
  height: 14px;
  z-index: 1;
}
.remainingIcons {
  position: absolute;
  top: 43px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  width: 14px;
  height: 14px;
  z-index: 1;
}
.ellipseParent {
  width: 14px;
  height: 57px;
  position: relative;
}
.remainingLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.statusContainerParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  margin-left: -184px;
  position: relative;
  font-size: var(--font-size-xl);
}
.summary {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-21xl) var(--padding-11xl);
  max-width: 100%;
}
.userContainerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  min-width: 500px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.body {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  max-width: 100%;
}
.taskList {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.taskListContainer {
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.sortBy {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
}
.filterElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0px 0px;
}
.sort {
  height: 50px;
  width: 180px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.filterBy {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 75px;
}
.filterControls {
  width: 561px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.taskListContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.contentArea {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.page {
  width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.logisticsOverview {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1800px) {
  .logisticsOverview {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .userContainerParent {
    flex: 1;
  }

  .body {
    flex-wrap: wrap;
  }

  .taskListContainerParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .leftMenu {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-153xl);
    box-sizing: border-box;
  }

  .div {
    font-size: var(--font-size-21xl);
    line-height: 67px;
  }

  .metrics {
    flex-wrap: wrap;
  }

  .dashboardContainer {
    min-width: 100%;
  }

  .userContainerParent {
    min-width: 100%;
  }

  .body {
    gap: var(--gap-11xl);
  }

  .taskList {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .filterControls {
    flex-wrap: wrap;
  }

  .logisticsOverview {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .dashboard {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .events {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .logistics {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .overview {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .taskAssignment {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .inventory {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .deliveries {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .reports {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .users {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .settings2 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .leftMenu {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-93xl);
    box-sizing: border-box;
  }

  .div {
    font-size: var(--font-size-5xl);
    line-height: 45px;
  }

  .overDueTasks {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .metrics {
    gap: var(--gap-xl);
  }

  .dashboardContainer {
    gap: var(--gap-5xl);
  }

  .tasksByStatus {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }

  .upcoming {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .taskList {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }
}
