.dashboardDelivery {
  position: absolute;
  top: 58px;
  left: 390px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  width: 341px;
  height: 25px;
}
.vectorIcon {
  position: absolute;
  top: 56px;
  left: 1581px;
  width: 30px;
  height: 29.9px;
}
.proofOfDelivery {
  margin: 0;
  position: absolute;
  top: 137px;
  left: 390px;
  display: inline-block;
  width: 761px;
  height: 38px;
}
.buttonChild {
  height: 50px;
  width: 200px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-100);
  display: none;
}
.editAddPlus {
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 1;
}
.editAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px 0px;
}
.addNewPod {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.button {
  position: absolute;
  top: 131px;
  left: 1670px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-smi);
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.buttonItem {
  height: 50px;
  width: 140px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.approve {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.button1 {
  position: absolute;
  top: 131px;
  left: 1190px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-13xl) var(--padding-2xs)
    var(--padding-14xl);
  color: var(--color-darkgray);
}
.reject {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.button2 {
  position: absolute;
  top: 131px;
  left: 1350px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-23xl) var(--padding-2xs)
    var(--padding-24xl);
  color: var(--color-darkgray);
}
.button3 {
  position: absolute;
  top: 131px;
  left: 1510px;
  padding: var(--padding-xs) var(--padding-24xl) var(--padding-smi);
}
.bgChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 3;
}
.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.proofDetailsModal {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .bg {
    height: auto;
    min-height: 1080;
  }

  .proofDetailsModal {
    height: auto;
    min-height: 1080;
  }
}
@media screen and (max-width: 825px) {
  .proofOfDelivery {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}
@media screen and (max-width: 450px) {
  .proofOfDelivery {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }
}
