.dashboardLogistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.routePlanning1 {
  margin: 0;
  width: 761px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.maskGroupIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mapChild {
  height: 45.1px;
  width: 45px;
  position: absolute;
  margin: 0 !important;
  top: 300px;
  right: 182px;
  z-index: 1;
}
.locationsChild {
  width: 45.3px;
  height: 45.3px;
  position: relative;
  z-index: 1;
}
.deepNestedLocationChild {
  width: 45px;
  height: 45.1px;
  position: relative;
  z-index: 1;
}
.frameChild {
  height: 45.3px;
  width: 45.3px;
  position: relative;
  z-index: 1;
}
.deepNestedLocationInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.deepNestedLocation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 81.9px;
}
.nestedLocation {
  width: 245.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 63px 169px;
  box-sizing: border-box;
}
.locations {
  height: 695.3px;
  width: 268.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 398px;
  box-sizing: border-box;
  gap: 79.7px;
}
.dropoffIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.dropoffNameChild {
  height: 45.3px;
  width: 37.2px;
  position: absolute;
  margin: 0 !important;
  top: -19px;
  left: -12px;
  z-index: 1;
}
.dropOffLocation {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 122px;
  z-index: 3;
}
.dropoffName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.sauerLock {
  position: relative;
  font-size: var(--body-size);
  letter-spacing: -0.02em;
  line-height: 120%;
  color: var(--color-darkslategray-300);
  z-index: 3;
}
.dropoffMarker {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lgi) var(--padding-5xl);
  position: relative;
  gap: var(--gap-8xs);
}
.frameItem {
  height: 45.1px;
  width: 45px;
  position: relative;
  z-index: 1;
}
.dropoffInfoInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px var(--padding-2xl);
}
.dropoffInfo {
  width: 242px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  flex-shrink: 0;
}
.secondDropoffChild {
  width: 37.2px;
  height: 45.3px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.secondDropoff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 1.8px;
}
.dropoffContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.dropoffDetails {
  width: 371px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.additionalMarker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.moreMarkersChild {
  height: 45.3px;
  width: 45.3px;
  position: absolute;
  margin: 0 !important;
  right: 159.7px;
  bottom: 0px;
  z-index: 1;
}
.moreMarkersItem {
  height: 45.1px;
  width: 45px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.moreMarkers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px 77px;
  position: relative;
  gap: var(--gap-xl);
}
.pickupContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.7px;
}
.dropoffContainer {
  align-self: stretch;
  height: 578.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px 433.2px;
  box-sizing: border-box;
  gap: 143.9px;
  max-width: 100%;
}
.dropoffContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0px 0px;
  box-sizing: border-box;
  min-width: 409px;
  max-width: 100%;
}
.map {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-12xl) 49px 73.7px 70px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--body-small-size);
}
.planningContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.innerContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.routeDetailsChild {
  width: 400px;
  height: 514px;
  position: relative;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.routeDetails1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  color: var(--color-darkslategray-200);
  z-index: 1;
}
.routeDetailsItem {
  width: 1px;
  height: 182px;
  position: absolute;
  margin: 0 !important;
  top: 93px;
  left: 47px;
  border-right: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  z-index: 1;
}
.routeLocationsChild {
  height: 14px;
  width: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  z-index: 2;
}
.steuberMissionMichaelaside {
  margin: 0;
}
.terrellTowne {
  margin: 0;
}
.steuberMissionMichaelasideContainer {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  z-index: 1;
}
.routeLocations {
  align-self: stretch;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.routeLocationsItem {
  height: 14px;
  width: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  z-index: 2;
}
.routeLocationsInner {
  height: 14px;
  width: 14px;
  position: relative;
  border-radius: 50%;
  background-color: #6333ff;
  z-index: 2;
}
.buttonChild {
  height: 50px;
  width: 180px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.autoOptimize {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.button {
  height: 50px;
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-2xs)
    var(--padding-7xl);
  z-index: 1;
}
.buttonItem {
  height: 50px;
  width: 120px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.reverse {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.button1 {
  height: 50px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xl) var(--padding-2xs)
    var(--padding-6xl);
  z-index: 1;
}
.routeButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.buttonInner {
  height: 50px;
  width: 318px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: none;
}
.manuallyReorderStops {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.button2 {
  align-self: stretch;
  height: 50px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-35xl) var(--padding-2xs);
  z-index: 1;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
}
.routeDetails {
  align-self: stretch;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-20xl) var(--padding-21xl)
    var(--padding-21xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.vehicleSelectionChild {
  width: 400px;
  height: 182px;
  position: relative;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.vehicleSelection1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  z-index: 1;
}
.button3 {
  width: 318px;
  height: 50px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  z-index: 1;
}
.vehicleSelection {
  align-self: stretch;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-20xl) var(--padding-21xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-200);
}
.routePanel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.userPanel {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 98px;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
}
.mainContentParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.pageContent {
  width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.routePlanning {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1800px) {
  .routePlanning {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .dropoffContainer {
    padding-bottom: 282px;
    box-sizing: border-box;
  }

  .map {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }

  .userPanel {
    flex: 1;
  }

  .mainContentParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .routePlanning1 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }

  .locations {
    flex: 1;
    padding-bottom: 259px;
    box-sizing: border-box;
  }

  .dropoffContainer {
    padding-bottom: 183px;
    box-sizing: border-box;
  }

  .dropoffContainerWrapper {
    flex: 1;
    min-width: 100%;
  }

  .map {
    flex-wrap: wrap;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }

  .innerContent {
    gap: var(--gap-5xl);
  }

  .mainContent {
    min-width: 100%;
  }

  .routeDetails {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }

  .mainContentParent {
    gap: var(--gap-xl);
  }

  .routePlanning {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .routePlanning1 {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-3xl);
  }

  .locations {
    gap: var(--gap-21xl);
    padding-bottom: 168px;
    box-sizing: border-box;
  }

  .dropoffContent {
    flex-wrap: wrap;
  }

  .moreMarkers {
    flex-wrap: wrap;
  }

  .dropoffContainer {
    height: auto;
    gap: 72px;
  }

  .map {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }

  .routeDetails1 {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }

  .routeLocations {
    flex-wrap: wrap;
  }

  .routeButtons {
    flex-wrap: wrap;
  }

  .button2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .vehicleSelection1 {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }

  .routePanel {
    gap: var(--gap-xl);
  }

  .userPanel {
    gap: var(--gap-30xl);
    min-width: 100%;
  }
}
