.card3Child {
  width: 467px;
  height: 340px;
  position: relative;
  border-radius: var(--br-2xl-7);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.alertIcons {
  height: 46px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 100%;
  display: none;
}
.frameItem {
  position: absolute;
  top: 6px;
  left: 36px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  width: 28px;
  height: 28px;
  z-index: 1;
}
.rectangleParent {
  height: 40px;
  width: 70px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  z-index: 1;
}
.alertIconsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.alert-name2 {
  height: 23.9px;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 23.9px;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 1;
}
.alertNameWrapper {
  width: 157px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px var(--padding-11xs);
  box-sizing: border-box;
}
.lowStock {
  color: var(--color-darkslategray-100);
}
.trigger-type-low-container {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.triggerTypeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-1);
}
.triggerTypeContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.buttonChild {
  height: 50px;
  width: 120px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-100);
  display: none;
}
.editButtonsChild {
  width: 20.9px;
  height: 20.9px;
  position: relative;
  z-index: 1;
}
.editButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-6) 0px 0px;
  flex-shrink: 0;
}
.edit {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.button {
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-smi)
    var(--padding-9xl);
  gap: var(--gap-3xs-9);
  z-index: 1;
}
.buttonItem {
  height: 50px;
  width: 120px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
}
.deleteIconsChild {
  width: 18px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.deleteIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.delete {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.button1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslategray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-2xs)
    var(--padding-mid);
  gap: var(--gap-2xs-1);
  z-index: 1;
  color: var(--color-darkslategray-200);
}
.buttonParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.card3 {
  position: absolute;
  top: 211px;
  left: 1403px;
  border-radius: var(--br-2xl-7);
  background-color: var(--color-white);
  width: 467px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 450px) {
  .alertIconsParent {
    flex-wrap: wrap;
  }

  .alert-name2 {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }

  .trigger-type-low-container {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }
}
