.card2Child {
  width: 467px;
  height: 384px;
  position: relative;
  box-shadow: 10px 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-2xl-7);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.alertStatusIcons {
  height: 46px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 100%;
  display: none;
}
.statusIconShape {
  position: absolute;
  top: 6px;
  left: 7px;
  border-radius: 50%;
  background-color: var(--color-darkgray);
  width: 28px;
  height: 28px;
  z-index: 1;
}
.rectangleParent {
  height: 40px;
  width: 70px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  z-index: 1;
}
.alertStatusIconsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 0px var(--padding-8xs);
  gap: var(--gap-xl);
}
.alert-name {
  height: 23.9px;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 23.9px;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 1;
}
.alertNameWrapper {
  width: 157px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) var(--padding-8xs) var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
}
.lowStock {
  color: var(--color-darkslategray-100);
}
.trigger-type-low-container {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.triggerTypeLowStock10Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-1);
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
}
.frequencyImmediateWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px var(--padding-11xs);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.button {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-smi);
  z-index: 1;
}
.button1 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-smi);
  z-index: 1;
}
.buttonParent {
  width: 260px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.card2 {
  flex: 1;
  box-shadow: 10px 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-2xl-7);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  min-width: 350px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 900px) {
  .card2 {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .alertStatusIconsParent {
    flex-wrap: wrap;
  }

  .alert-name {
    font-size: var(--font-size-lgi);
    line-height: 38px;
  }

  .trigger-type-low-container {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .card2 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
