.datasetParent {
  position: absolute;
  width: 58.83%;
  top: 38.3px;
  right: 20.62%;
  left: 20.56%;
  height: 9.1px;
}
.barchartXlChild {
  position: absolute;
  top: calc(50% - 79.7px);
  left: calc(50% - 102.3px);
  border-radius: 50%;
  width: 204.3px;
  height: 204.3px;
}
.barchartXlItem {
  position: absolute;
  top: calc(50% + 158.3px);
  left: calc(50% - 48.9px);
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 204.2px;
  height: 204.2px;
  transform: rotate(-115.3deg);
  transform-origin: 0 0;
}
.barchartXlInner {
  position: absolute;
  top: calc(50% + 166.8px);
  left: calc(50% - 3.3px);
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  width: 204.2px;
  height: 204.2px;
  transform: rotate(-133.8deg);
  transform-origin: 0 0;
}
.ellipseDiv {
  position: absolute;
  top: calc(50% + 63.3px);
  left: calc(50% + 138.3px);
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 204.2px;
  height: 204.2px;
  transform: rotate(151.5deg);
  transform-origin: 0 0;
}
.barchartXlChild1 {
  position: absolute;
  top: calc(50% - 79.7px);
  left: calc(50% - 102.3px);
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 204.3px;
  height: 204.3px;
}
.barchartXlChild2 {
  position: absolute;
  top: calc(50% - 79.7px);
  left: calc(50% - 102.3px);
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 204.3px;
  height: 204.3px;
}
.barchartXlChild3 {
  position: absolute;
  top: calc(50% - 79.7px);
  left: calc(50% - 102.3px);
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 204.3px;
  height: 204.3px;
}
.barchartXl {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0.3px;
  bottom: -0.2px;
  left: 0px;
  background-color: var(--color-white);
  overflow: hidden;
}
.doughnutChartXl {
  position: absolute;
  height: 100%;
  width: calc(100% + 486px);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -486px;
}
