.datasetParent {
  position: absolute;
  width: 57.78%;
  top: 38.3px;
  right: 21.26%;
  left: 20.97%;
  height: 9.1px;
}
.datasetGroup {
  position: absolute;
  width: 25.43%;
  top: 54.7px;
  right: 37.35%;
  left: 37.22%;
  height: 9.1px;
}
.barchartMChild {
  position: absolute;
  top: calc(50% - 49.6px);
  left: calc(50% - 78.9px);
  border-radius: 50%;
  width: 157.4px;
  height: 157.4px;
}
.barchartMItem {
  position: absolute;
  top: calc(50% + 133.8px);
  left: calc(50% - 37.7px);
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 157.4px;
  height: 157.4px;
  transform: rotate(-115.3deg);
  transform-origin: 0 0;
}
.barchartMInner {
  position: absolute;
  top: calc(50% + 133.8px);
  left: calc(50% - 37.7px);
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  width: 157.4px;
  height: 157.4px;
  transform: rotate(-115.3deg);
  transform-origin: 0 0;
}
.ellipseDiv {
  position: absolute;
  top: calc(50% + 140.3px);
  left: calc(50% - 2.6px);
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  width: 157.4px;
  height: 157.4px;
  transform: rotate(-133.8deg);
  transform-origin: 0 0;
}
.barchartMChild1 {
  position: absolute;
  top: calc(50% + 60.6px);
  left: calc(50% + 106.6px);
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 157.4px;
  height: 157.4px;
  transform: rotate(151.5deg);
  transform-origin: 0 0;
}
.barchartMChild2 {
  position: absolute;
  top: calc(50% - 49.6px);
  left: calc(50% - 78.9px);
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 157.4px;
  height: 157.4px;
}
.barchartMChild3 {
  position: absolute;
  top: calc(50% - 49.6px);
  left: calc(50% - 78.9px);
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  width: 157.4px;
  height: 157.4px;
}
.barchartM {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0.3px;
  bottom: -0.2px;
  left: 0px;
  background-color: var(--color-white);
  overflow: hidden;
}
.doughnutChartM {
  position: absolute;
  height: 100%;
  width: calc(100% + 291.5px);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -291.5px;
}
