.dashboardLogistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
}
.dashboardLogisticsVehiclWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.icon {
  width: 30px;
  height: 29.9px;
  position: relative;
}
.userIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-base-1);
}
.userChild {
  height: 61px;
  width: 224px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  display: none;
}
.userImageIcon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-481xl);
  object-fit: cover;
  z-index: 1;
}
.sherwynGraham {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.userName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0px 0px;
}
.user {
  flex: 1;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.userIconParent {
  width: 289px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 900px) {
  .dashboardLogisticsVehiclWrapper {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .userIconParent {
    gap: var(--gap-mid);
  }
}
