.sVerticalAxis {
  position: absolute;
  height: 23.24%;
  width: 0.07%;
  top: 26.26%;
  right: 71.25%;
  bottom: 50.5%;
  left: 28.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sValueAxis {
  position: absolute;
  height: 23.24%;
  width: 0.07%;
  top: 26.26%;
  right: 43.76%;
  bottom: 50.5%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  height: 23.24%;
  width: 0.07%;
  top: 26.26%;
  right: 16.43%;
  bottom: 50.5%;
  left: 83.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem {
  position: absolute;
  height: 0.12%;
  width: 57.67%;
  top: 47.71%;
  right: 16.5%;
  bottom: 52.18%;
  left: 25.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sVerticalGrid {
  position: absolute;
  height: 0.12%;
  width: 57.67%;
  top: 40.41%;
  right: 16.5%;
  bottom: 59.47%;
  left: 25.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sMonthTick {
  position: absolute;
  height: 0.12%;
  width: 57.67%;
  top: 33.12%;
  right: 16.5%;
  bottom: 66.76%;
  left: 25.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.barIcon {
  position: absolute;
  height: 1.03%;
  width: 20%;
  top: 27.29%;
  right: 43.83%;
  bottom: 71.68%;
  left: 36.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon1 {
  position: absolute;
  height: 1.03%;
  width: 22.33%;
  top: 28.76%;
  right: 21.5%;
  bottom: 70.21%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon2 {
  position: absolute;
  height: 1.03%;
  width: 12.83%;
  top: 33.12%;
  right: 31.01%;
  bottom: 65.85%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon3 {
  position: absolute;
  height: 1.03%;
  width: 14.84%;
  top: 34.59%;
  right: 28.99%;
  bottom: 64.38%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon4 {
  position: absolute;
  height: 1.03%;
  width: 18%;
  top: 30.21%;
  right: 43.83%;
  bottom: 68.76%;
  left: 38.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon5 {
  position: absolute;
  height: 1.03%;
  width: 25%;
  top: 31.68%;
  right: 43.83%;
  bottom: 67.29%;
  left: 31.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon6 {
  position: absolute;
  height: 1.03%;
  width: 25.67%;
  top: 36.03%;
  right: 18.16%;
  bottom: 62.94%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon7 {
  position: absolute;
  height: 1.03%;
  width: 16.33%;
  top: 38.97%;
  right: 43.83%;
  bottom: 60%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon8 {
  position: absolute;
  height: 1.03%;
  width: 8.99%;
  top: 37.5%;
  right: 34.84%;
  bottom: 61.47%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon9 {
  position: absolute;
  height: 1.03%;
  width: 18.83%;
  top: 44.79%;
  right: 25%;
  bottom: 54.18%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon10 {
  position: absolute;
  height: 1.03%;
  width: 3%;
  top: 46.24%;
  right: 40.83%;
  bottom: 52.74%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon11 {
  position: absolute;
  height: 1.03%;
  width: 14.84%;
  top: 40.41%;
  right: 28.99%;
  bottom: 58.56%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon12 {
  position: absolute;
  height: 1.03%;
  width: 23%;
  top: 41.88%;
  right: 43.83%;
  bottom: 57.09%;
  left: 33.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.barIcon13 {
  position: absolute;
  height: 1.03%;
  width: 10.34%;
  top: 43.32%;
  right: 33.5%;
  bottom: 55.65%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.datasetParent {
  position: absolute;
  height: 7.91%;
  width: 8.6%;
  top: 13.12%;
  right: 45.71%;
  bottom: 78.97%;
  left: 45.69%;
}
.nameParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: -0.4px;
  left: 0px;
  background-color: var(--color-white);
  overflow: hidden;
}
.horizontalBarChartS {
  position: absolute;
  height: 100%;
  width: calc(100% + 211.9px);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -211.9px;
  text-align: center;
  font-size: var(--body-size);
  color: var(--text-grey);
  font-family: var(--body-small);
}
