.leftMenuChild {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.logoIcon {
  position: absolute;
  top: 41px;
  left: 50px;
  width: 216px;
  height: 60px;
  overflow: hidden;
}
.layer1Icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.dashboard1 {
  position: absolute;
  top: 2px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 109px;
}
.dashboard {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 155px;
  height: 31px;
}
.events1 {
  position: absolute;
  top: 2px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 63px;
}
.eventsChild {
  position: absolute;
  top: 11px;
  left: 244px;
  width: 12px;
  height: 9px;
  object-fit: contain;
}
.events {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 100%;
  height: 31px;
}
.logistics1 {
  position: absolute;
  top: 1px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 82px;
}
.logisticsChild {
  position: absolute;
  height: 100%;
  width: 12.11%;
  top: 0%;
  right: 87.89%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.frameItem {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0px;
  height: 1px;
  object-fit: contain;
}
.rectangleParent {
  position: absolute;
  top: 11px;
  left: 244px;
  width: 12px;
  height: 9px;
}
.logistics {
  position: absolute;
  top: 132px;
  left: 0px;
  width: 100%;
  height: 30px;
}
.arrowIcon {
  position: absolute;
  top: -7px;
  left: 6px;
  width: 0px;
  height: 1px;
  object-fit: contain;
}
.rectangleGroup {
  position: absolute;
  top: 12px;
  left: 244px;
  width: 12px;
  height: 9px;
}
.inventory1 {
  position: absolute;
  top: 3px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.inventoryChild {
  position: absolute;
  height: 27.05%;
  width: 12.11%;
  top: 0%;
  right: 87.89%;
  bottom: 72.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 31px;
  height: 33px;
  overflow: hidden;
}
.inventoryList {
  position: absolute;
  top: 51px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
  color: var(--color-tomato-100);
  display: inline-block;
  width: 210px;
}
.alertsNotifications {
  position: absolute;
  top: 94px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 210px;
}
.inventory {
  position: absolute;
  top: 197px;
  left: 0px;
  width: 100%;
  height: 122px;
  color: var(--color-darkslategray-200);
}
.deliveries1 {
  position: absolute;
  top: 1px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 92px;
}
.deliveries {
  position: absolute;
  top: 354px;
  left: 0px;
  width: 100%;
  height: 31px;
}
.reports1 {
  position: absolute;
  top: 1px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 74px;
}
.reportsChild {
  position: absolute;
  height: 100%;
  width: 25.83%;
  top: 0%;
  right: 74.17%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.reports {
  position: absolute;
  top: 420px;
  left: 0px;
  width: 120px;
  height: 31px;
}
.users1 {
  position: absolute;
  top: 0px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 53px;
}
.vectorIcon {
  position: absolute;
  height: 85.71%;
  width: 31.31%;
  top: 7.14%;
  right: 68.69%;
  bottom: 7.14%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.users {
  position: absolute;
  top: 486px;
  left: 0px;
  width: 99px;
  height: 28px;
}
.settings1 {
  position: absolute;
  top: 1px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 78px;
}
.layer1Icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 31px;
  height: 29px;
  overflow: hidden;
}
.settings {
  position: absolute;
  top: 549px;
  left: 0px;
  width: 124px;
  height: 29px;
}
.links {
  position: absolute;
  top: 151px;
  left: 50px;
  width: 256px;
  height: 578px;
}
.leftMenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 340px;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 450px) {
  .dashboard1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .events1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .logistics1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .inventory1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .inventoryList {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .alertsNotifications {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .deliveries1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .reports1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .users1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .settings1 {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }
}
