.modalChild {
  width: 540px;
  height: 420px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.vehicleDetailsPanel {
  width: 327.5px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 38px);
  z-index: 1;
}
.frameChild {
  width: 17.9px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.vehicleDetailsPanelParent {
  width: 448px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.modalInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-8xs) var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.vehicleId {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 101px;
  z-index: 1;
}
.driverName {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.currentSpeed {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.eta {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.status {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.vehicleIdParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.ronaldGrey {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  display: inline-block;
  min-width: 117px;
  z-index: 1;
}
.kmperHour {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.minutes {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.enRoute {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.modal {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 100px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 450px) {
  .vehicleDetailsPanel {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }

  .vehicleId {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .driverName {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .currentSpeed {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .eta {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .status {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .vehicleIdParent {
    flex: 1;
  }

  .ronaldGrey {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .kmperHour {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .minutes {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .enRoute {
    font-size: var(--font-size-base);
    line-height: var(--font-size-3xl);
  }

  .frameParent {
    flex-wrap: wrap;
  }
}
