.taskName {
  margin: 0;
  width: 142px;
  height: 22px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.robertSteve {
  color: var(--color-darkslategray-100);
}
.assigneeRobertSteveContainer {
  width: 206px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.dueDateDdMmYyyyContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 180%;
  z-index: 1;
}
.dueDateDdMmYyyyWrapper {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  text-align: right;
}
.assigneeRobertSteveParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.tableRows {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 900px) {
  .assigneeRobertSteveParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .taskName {
    font-size: var(--font-size-lg);
    line-height: 35px;
  }
}
