.tableChild {
  align-self: stretch;
  height: 680px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.headerChild {
  height: 60px;
  width: 1480px;
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0px 0px;
  background-color: var(--color-darkslategray-200);
  flex-shrink: 0;
  display: none;
}
.eventName {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 118px;
  z-index: 1;
}
.headerItems {
  width: 187px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.dates {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.headerItems1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mid) 0px 0px;
}
.locations {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 99px;
  z-index: 1;
}
.headerItems2 {
  width: 165px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.status {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.headerItems3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lg) 0px 0px;
}
.assignee {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.actions {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.header {
  align-self: stretch;
  border-radius: var(--br-xl) var(--br-xl) 0px 0px;
  background-color: var(--color-darkslategray-200);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-21xl);
  gap: var(--gap-101xl);
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.eventNameHere {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  z-index: 1;
}
.rowData {
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.ddMmYyyy {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.assigneeItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-sm) 0px 0px;
}
.canceledStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
}
.imageComponent {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  z-index: 1;
}
.upcomingIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.upcoming {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.upcomingStatus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-2xl) 0px 0px;
  gap: var(--gap-3xs);
}
.alexMartin {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.assigneeData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-46xl);
  max-width: 100%;
}
.moreAssigneeItemsChild {
  height: 26px;
  width: 32.5px;
  position: relative;
  z-index: 1;
}
.moreAssigneeItemsItem {
  height: 25.8px;
  width: 25.8px;
  position: relative;
  z-index: 1;
}
.moreAssigneeItemsInner {
  height: 25.6px;
  width: 25.6px;
  position: relative;
  z-index: 1;
}
.groupIcon {
  height: 25.6px;
  width: 23.1px;
  position: relative;
  z-index: 1;
}
.moreAssigneeItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.moreAssigneeData {
  width: 196.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.rowItems {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.tableRows {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.componentRow {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.tableRows1 {
  align-self: stretch;
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xl) 0px var(--padding-6xl);
  box-sizing: border-box;
  max-width: 100%;
}
.dateItem {
  width: 227px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.div {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  z-index: 1;
}
.ongoing {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.statusItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.dateItemParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
}
.andrewDilton {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.eventNameHereWrapper {
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.ddMmYyyyParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv {
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-4xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.descriptionLabel {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.completed {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
  z-index: 1;
}
.harveyWest {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.eventNameHereContainer {
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.ddMmYyyyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-9xs) 0px 0px;
}
.canceled {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-56xl);
  max-width: 100%;
}
.monicaBrettWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
}
.eventNameHereFrame {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.frameWrapper2 {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.solomonEllis {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.solomonEllisWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-4xs) 0px 0px;
}
.eventNameHereWrapper1 {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.walterJeff {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 94px;
  z-index: 1;
}
.frameParent10 {
  width: 780px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-62xl);
  max-width: 100%;
}
.tableRows10 {
  align-self: stretch;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.dateLocation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 100%;
}
.eventNameHereParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameWrapper4 {
  width: 703px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-16xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.input {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-200);
  z-index: 1;
}
.frameParent14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  gap: var(--gap-3xs);
}
.ddMmYyyyParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 100%;
}
.frameWrapper6 {
  width: 712px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-lgi) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-smi) 0px 0px;
  gap: var(--gap-3xs);
}
.jenniferMartin {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  z-index: 1;
}
.frameParent16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 100%;
}
.tableItem {
  width: 1431px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.table {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xl-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1800px) {
  .frameParent16 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .rowItems {
    flex-wrap: wrap;
  }

  .dateItemParent {
    flex-wrap: wrap;
  }

  .frameParent4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .header {
    gap: var(--gap-41xl);
  }

  .assigneeData {
    gap: var(--gap-13xl);
    flex-wrap: wrap;
  }

  .dateItemParent {
    gap: var(--gap-21xl);
  }

  .frameParent4 {
    gap: var(--gap-18xl);
  }

  .frameParent10 {
    gap: var(--gap-21xl);
    flex-wrap: wrap;
  }

  .eventNameHereParent {
    flex-wrap: wrap;
  }

  .ddMmYyyyParent1 {
    flex-wrap: wrap;
  }

  .frameParent16 {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .eventName {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .dates {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .locations {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .status {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .assignee {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .actions {
    font-size: var(--font-size-base);
    line-height: var(--font-size-7xl);
  }

  .header {
    gap: var(--gap-11xl);
  }

  .assigneeData {
    gap: var(--gap-base);
  }

  .dateItemParent {
    gap: var(--gap-xl);
  }

  .ddMmYyyyParent {
    flex-wrap: wrap;
  }

  .frameParent1 {
    gap: var(--gap-21xl);
  }

  .frameParent4 {
    gap: var(--gap-lgi);
  }

  .frameParent10 {
    gap: var(--gap-xl);
  }

  .dateLocation {
    gap: var(--gap-21xl);
    flex-wrap: wrap;
  }

  .ddMmYyyyParent1 {
    gap: var(--gap-21xl);
  }

  .frameParent16 {
    gap: var(--gap-xl);
  }
}
