.nameBackgroundChild {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  z-index: 1;
}
.nameBackground {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.aa478525 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 109px;
  z-index: 1;
}
.nameBackgroundParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xl) 0px 0px;
  gap: var(--gap-xl);
}
.eventName1 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 104px;
  z-index: 1;
}
.royAnderson {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.eventName {
  width: 322px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px var(--padding-9xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.streetCityState {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  z-index: 1;
}
.streetCityState1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.streetCityStateParent {
  width: 361px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
}
.pm {
  width: 123px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.deliveryName {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.mainInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.statusIconsChild {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  z-index: 1;
}
.statusIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
}
.inTransit {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.statusIconsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.hours {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  z-index: 1;
}
.duration {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
}
.statusInfo {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.deliveryInfo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-55xl);
  max-width: 100%;
}
.tableData {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-forestgreen);
  z-index: 1;
}
.delivered {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 82px;
  z-index: 1;
}
.frameDiv {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.eventListSeparator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.firstEventContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.secondEventStatusCircle {
  width: 14px;
  height: 14px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.delayed {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.secondEventDuration {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.secondEventStatus {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.secondEventContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-55xl);
  max-width: 100%;
}
.eventSeparator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.rectangleFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs) 0px 0px;
}
.eventNameContainer {
  width: 169px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.eventNameContainer1 {
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.nameContainer {
  width: 182px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.streetCityState11 {
  width: 170px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.dropoffContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  min-width: 131px;
}
.pm5 {
  width: 123px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.timeContainer {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.statusValueContainer {
  width: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 0px 0px;
  box-sizing: border-box;
}
.frameParent7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.tableDataChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.tableData8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.scrollChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.scrollItem {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-31xl);
  background-color: var(--color-tomato-100);
  width: 975px;
  height: 6px;
  z-index: 1;
}
.scroll {
  align-self: stretch;
  height: 6px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  flex-shrink: 0;
  z-index: 1;
}
.tableRow {
  height: 374px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1350px) {
  .deliveryInfo {
    flex-wrap: wrap;
  }

  .tableRow {
    height: auto;
  }
}
@media screen and (max-width: 1150px) {
  .deliveryName {
    flex-wrap: wrap;
  }

  .mainInfo {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .streetCityStateParent {
    flex-wrap: wrap;
  }
}
